#demotext {
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    color: #FFFFFF;
    background: #333333;
    }

    body {
        margin: 0;
        padding: 0;
        background: #313131;
    }
#navearn_section {
    background: #2c2c2c;
    
    color:rgb(255, 159, 17);
    display: flex;
    flex-direction: row; 
    
    }

    @media (max-width: 800px) {
      #navearn_section {
        flex-direction: column;
      }
   }


 #nav_title{
    padding-left: 100px;
    font-family: Verdana;
    /* font-size: 1.5vw; */
 }
 /* #nav_title_left{
    padding-left: 60vw;
    font-family: Verdana;
 }
     */

 #bodybegins{
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    background: #313131;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 #earnFree{
    border: #cccccc 1px solid;
    font-family: Verdana;
    font-size: 4vw;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
 }
 #earnFree2{
    font-size: 1.5vw;
    margin-top: 30px;
   border: #cccccc 1px solid;
   
}
 
 #earnFreeright{
    font-family: Verdana;
    font-size: 1.5vw;
    color: #FFFFFF;
    padding-left: 20vw;
    /* image-resolution: 100%; */

 }

 #imgearnFreeright{
      width: 20vw;
      height: auto;
      border-radius: 10%;

 }

 #tablesection{
      padding-top: 10vh;
      padding-left: 10vw;
      padding-right: 10vw;
      padding-bottom: 10vh;
      background: #313131;
      color: #FFFFFF;
      font-family: Verdana;
      font-size: 1.5vw;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


 }


 #sec_table{
    /* width: 100%; */
    padding: 0%;
    margin:0 6vw 0 6vw;
    /* border: #F00 solid 1px; */
    
 }


 #firsttable{
   width: 100%;
 }


 #firsttable th{
    color: #000000;
    background-color: #ff9f12;
    font-family: Arial;
    font-size: 16px;
    font-weight:700;
    font-style:italic;padding: 0.5vw;
    /* display: flex; */
    /* flex-direction: row; */

 }
 #firsttable td{
    border: #5b5b5b solid 1px;
    padding:0px;
    margin: 0px;
    color: #cccccc;

 }

 @media (max-width: 800px) {
   #firsttable td{
      display: flex;
     flex-direction: row;
   }
   #firsttable th{
      display: flex;
     flex-direction: row;
   }
}




 .jn-now{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 150px;
    text-align: center;
    border: #c56a10 2px solid;
    padding: 1vw;
    background-color: #f89705;
    color: #F00;
    /* margin-left: 60px; */
 }
 .jn-now a{
    color: #000000;
 }
 .jn-now a:hover{
    text-decoration:wavy;
    color: green;
    font-size: large;
    font-weight: 800;
    font-size: 1.5vw;
 }
 .jn-now a:active{
   color: red;
}


 img.bonus{
   padding: 0px;

       margin: 0px;


       background-color: transparent;
 }



 
 a{
    color: #cccccc;
    text-decoration: none;
    
 }

 #tabledata{
    margin: -20px;
    padding: 0px;

 }
    